* {
  box-sizing: border-box;
}
body {
  margin: 8px;
}

.principal {
  display: flex;
  flex-direction: row;
  min-width: 700px;
  height: 801px;
  margin: auto;
  border-radius: 20px;
  padding: 0px;
}

.estante1 {
  flex: 1;
  background-color: #e0ddcf;
  border-radius: 20px 0px 0px 20px;
}

.estante2 {
  flex: 1;
  background-color: #f1f0ea;
  border-radius: 0px 20px 20px 0px;
  padding: 30px;
}

.listaLivros {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  overflow: auto;
  height: 100%;
  align-items: flex-start;
  justify-content: left;
}

.livroCard {
  padding: 16px;
  border: 2px solid #474448;
  border-radius: 10px;
  background-color: #534b52;
  color: white;
}

form.formDivInterna {
  display: table;
}

div.formDivInterna {
  display: table-row;

  background-color: #dfdedb;
}

.formInterno {
  display: table-cell;
  margin-bottom: 25px;
}

.botoes {
  font-size: 15px;
}

button {
  background-color: #2d232e;
  color: white;
  border-color: white;
}
