* {
  box-sizing: border-box;
}

.principal {
  display: flex;
  flex-direction: row;
  background-color: rgb(31, 17, 6);
  width: 2000px;
  min-width: 700px;
  height: 901px;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
}

.estante1 {
  flex: 1;
  background-color: antiquewhite;
  border-radius: 20px 0px 0px 20px;
}

.estante2 {
  flex: 1;
  background-color: rgb(187, 120, 33);
  border-radius: 0px 20px 20px 0px;
  padding: 30px;
}

.listaLivros {
  padding-top: 30px;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  overflow: auto;
  height: 100%;
  align-items: flex-start;
  justify-content: left;
}

.livroCard {
}

form.formDivInterna {
  display: table;
}

div.formDivInterna {
  display: table-row;
}

.formInterno {
  display: table-cell;
  margin-bottom: 25px;
}

.botoes {
  font-size: 15px;
}
